html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/swim.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.page-header h1 {
  font-style: normal;
  color: white;
  text-align: center;
  font-size: 40px;
  }

.btnControl {
  display: table; 
  margin: 0 auto;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.stream-item {
  margin: 2% ;
  transition: box-shadow .25s, -webkit-filter .5s;
  transition: box-shadow .25s, filter .5s;
  transition: box-shadow .25s, filter .5s, -webkit-filter .5s; 
}

.stream-item:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px 2.5px #323232;
  -webkit-filter: contrast(125%) brightness(150%);
  filter: contrast(125%) brightness(150%); 
}

.preview {
  display: flex;
}

.content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .25s; 
}

.content:hover {
  background-color: black; 
}

.avatar {
  opacity: .75;
  width: 45px;
  height: 45px;
  margin: 10px 10px;
  border-radius: 50%; 
}

.stream-text {
  width: 200px;
  margin-left: 35px; 
}

.stream-text p {
    color: #FFF5EE;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.35px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

