html {
  overflow-y: scroll;
}

body {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/swim.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;        
  background-size: cover;
  -webkit-background-size: cover; 
  -o-background-size: cover;
  z-index: -1;
}

.page-header {
  text-align: center;
}

.page-header h1 {
  margin: 30px 0;
  font-style: normal;
  color: white;
  font-size: 40px;
  }

.btn-group {
  margin-bottom: 30px;
}

.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.stream-item {
  box-sizing: border-box;
  margin: 2%;
  transition: box-shadow .25s, -webkit-filter .5s;
  transition: box-shadow .25s, filter .5s;
  transition: box-shadow .25s, filter .5s, -webkit-filter .5s; 
}

.stream-item:hover {
  cursor: pointer;
  box-shadow: 5px 5px 20px 2.5px #323232;
  -webkit-filter: contrast(125%) brightness(150%);
  filter: contrast(125%) brightness(150%); 
  transform: translate(10px ,-10px);
  transition: all .25s linear;
}

.preview {
  display: flex;
}

.content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color .25s; 
}

.content:hover {
  background-color: black; 
}

.avatar {
  opacity: .75;
  width: 45px;
  height: 45px;
  margin: 10px 10px;
  border-radius: 50%; 
}

.streamText {
  width: 200px;
  margin-left: 35px; 
}

.streamText p {
    color: #FFF5EE;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.35px;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
